body { 
	margin: 0 auto;
	text-align: center;
	width: 80%;
}
#container {
	width: 100%;
}
#container h1 {
	font-weight: bolder;
	text-align: center;
}

div#app {
  margin: 10% auto;
  width: 40%;
  border: 1px solid;
}

li {
	list-style-type: none;
}